<div class="container wrapper" >
  <div [hidden]="submitted" >
    <h5>Consulta de pico y placa</h5>
    <form [formGroup]="consultaForm"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="placa">Ingrese placa a consultar:
          <input type="text" class="form-control" placeholder="ABC-0000"   formControlName="placa" >
        </label>
        </div>
        <div class="form-group">
                <label for="fecha">Seleccione la fecha y hora :
                <div class="input-group">
                    <input class="form-control" formControlName="fecha" 
                     [min]="minDate"
                     
                     [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
                    <owl-date-time [startAt]="minDate" #dt1 ></owl-date-time>
                </div>
          </label>
      
        </div>
       
      <button type="submit" class="btn btn-success" [disabled]="!consultaForm.valid">Submit</button>
    </form>
  </div>
  <div [hidden]="!submitted"   >
     
      <div class="row">
         <h2>Atencion</h2>
        <div >{{respuesta}}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">OK</button>
    </div>
  </div>
  